@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
.main-menu .menu-flex .coffee-card .flip-card .inner .back .order, .home .hero .left .hero-list, .home .hero .left .hero-nav {
  display: flex;
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bricolage Grotesque", sans-serif, serif;
  background-color: #F8F3EC;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Cormorant Garamond", serif, sans-serif;
  color: #8B5E3C;
  font-weight: bolder;
}
body p {
  color: #C98A4A;
  font-weight: 500;
}

main {
  padding: 0 200px;
}
main h2 {
  font-size: 2.5rem;
}
main p {
  font-size: 1.5rem;
}
@media (min-width: 300px) and (max-width: 567px) {
  main {
    padding: 0 50px;
  }
  main h2 {
    font-size: 2rem;
  }
  main p {
    font-size: 1.3rem;
  }
}

header {
  background-color: #F8F3EC;
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 0 20px;
}
header .logo {
  height: 10vh;
  width: auto;
}
header .nav-link {
  text-decoration: none;
  color: black;
  font-weight: 900;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}
header .bg-propio {
  background-color: #F8F3EC;
}
header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 300px) and (max-width: 567px) {
  header h1 {
    display: none;
  }
  header .logo {
    height: 10vh;
  }
}

footer {
  height: 10vh;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-weight: 900;
  font-size: 1.5rem;
}
footer .footer-nav .rs {
  display: flex;
  gap: 20px;
}
footer .footer-nav .rs li {
  list-style: none;
}
footer .footer-nav .rs li a .RRSS-img {
  height: 5vh;
  width: auto;
}
footer .footer-nav .rs li a .ws {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
@media (min-width: 300px) and (max-width: 567px) {
  footer {
    height: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home {
  text-align: center;
}
.home .hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 75px;
}
.home .hero .left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 50px;
  font-weight: bold;
}
.home .hero .left figure .hero-logo {
  height: 25vh;
  width: auto;
}
.home .hero .left .hero-title {
  font-size: 2rem;
}
.home .hero .left .hero-p {
  text-align: center;
  font-size: 1.2rem;
}
.home .hero .left .hero-list {
  color: #C98A4A;
  text-align: center;
  list-style: none;
}
.home .hero .left .hero-list li {
  padding: 5px;
}
.home .hero .left .hero-nav a {
  padding: 10px;
  color: #6D4C35;
  border: 2px solid #C98A4A;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}
.home .hero .left .hero-nav a:hover {
  background-color: #EFE3D3;
}
.home .hero .right figure .hero-img {
  width: 45vw;
  height: auto;
  border-radius: 50px;
}
@media (min-width: 300px) and (max-width: 567px) {
  .home .hero {
    flex-direction: column;
  }
  .home .hero .right figure .hero-img {
    width: 80vw;
    height: auto;
  }
}

.type {
  padding: 0 100px;
  display: grid;
  grid-template-areas: "h2 h2" "p p" "t1 t2" "t1 t2" "t3 t4" "t3 t4" "t5 t6" "t5 t6";
  column-gap: 50px;
  row-gap: 25px;
  text-align: center;
}
.type h2 {
  grid-area: h2;
}
.type p {
  grid-area: p;
}
.type .norm figure .type-img, .type .rev figure .type-img {
  width: 25vw;
  height: auto;
  border-radius: 50px;
}
.type .norm {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 2px solid #C98A4A;
  border-radius: 25px;
}
.type .rev {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 2px solid #C98A4A;
  border-radius: 25px;
}
.type .ris {
  grid-area: t1;
}
.type .am {
  grid-area: t2;
}
.type .es {
  grid-area: t3;
}
.type .dob {
  grid-area: t4;
}
.type .ccl {
  grid-area: t5;
}
.type .cap {
  grid-area: t6;
}
@media (min-width: 300px) and (max-width: 567px) {
  .type {
    padding: 0 25px;
    grid-template-areas: "h2" "p" "t1" "t2" "t3" "t4" "t5" "t6";
    margin-bottom: 25px;
  }
  .type .norm, .type .rev {
    flex-direction: column;
  }
  .type .norm figure .type-img, .type .rev figure .type-img {
    width: 75vw;
  }
}

.main-menu {
  text-align: center;
}
.main-menu h2 {
  margin-bottom: 15px;
}
.main-menu .menu-flex {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.main-menu .menu-flex .coffee-card {
  padding: 30px;
  text-align: center;
  border: 2px solid #6D4C35;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-menu .menu-flex .coffee-card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  width: 15vw;
}
.main-menu .menu-flex .coffee-card .flip-card {
  width: 15vw;
  height: 40vh;
  perspective: 1000px;
}
.main-menu .menu-flex .coffee-card .flip-card:hover .inner {
  transform: rotateY(180deg);
}
.main-menu .menu-flex .coffee-card .flip-card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .front, .main-menu .menu-flex .coffee-card .flip-card .inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .front img {
  height: 40vh;
  width: auto;
  max-width: 15vw;
  border-radius: 25px;
  object-fit: cover;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .back {
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .back p {
  font-size: 1.3rem;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .back .order {
  gap: 20px;
}
.main-menu .menu-flex .coffee-card .flip-card .inner .back .order .btn-order {
  padding: 15px;
  background-color: #C98A4A;
  color: #F8F3EC;
  font-weight: 900;
  border: 2px solid #8B5E3C;
  border-radius: 25px;
}
@media (min-width: 300px) and (max-width: 567px) {
  .main-menu .menu-flex {
    flex-direction: column;
  }
  .main-menu .menu-flex .coffee-card h3 {
    width: 60vw;
  }
  .main-menu .menu-flex .coffee-card .flip-card {
    width: 60vw;
  }
  .main-menu .menu-flex .coffee-card .flip-card .inner .front img {
    height: auto;
    width: 50vw;
    max-width: none;
  }
}

main .sobre-nosotros {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main .sobre-nosotros .info-container .equipo {
  max-width: 45vw;
  float: left;
  margin-right: 50px;
}
@media (min-width: 300px) and (max-width: 567px) {
  main .sobre-nosotros .info-container .equipo {
    max-width: 90vw;
    float: none;
    margin-right: 0;
  }
}
main .sobre-nosotros .info-container .equipo img {
  width: 100%;
}
main .sobre-nosotros .info-container p {
  width: 75vw;
}
main .destacados {
  margin: 32px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main .destacados .carousel-container {
  max-width: 1150px;
}

main .feed {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
main .main-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
main .main-contacto .spoty {
  width: 30vw;
  height: 50vh;
  order: 1;
}
main .main-contacto .maps {
  width: 30vw;
  height: 50vh;
  order: 3;
}
main .main-contacto .form {
  width: 30vw;
  height: 50vh;
  order: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .main-contacto .form label {
  font-weight: bolder;
  font-size: 1.3rem;
}
main .main-contacto .form input, main .main-contacto .form textarea {
  text-align: center;
  font-weight: bold;
  width: 25vw;
}
main .main-contacto .form .form-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .main-contacto .form .form-btn .btns {
  width: 10vw;
  font-size: 1rem;
  background-color: #C98A4A;
  color: #6D4C35;
  border: 2px solid #6D4C35;
  border-radius: 25px;
}
main .main-contacto .form .form-btn .btns:hover {
  background-color: #F8F3EC;
  color: #8B5E3C;
  border: 2px solid #C98A4A;
}
@media (min-width: 300px) and (max-width: 567px) {
  main .feed {
    margin-bottom: 0;
  }
  main .main-contacto {
    flex-direction: column;
    margin-bottom: 25px;
    gap: 25px;
  }
  main .main-contacto .spoty {
    width: 90vw;
    order: 2;
  }
  main .main-contacto .maps {
    width: 90vw;
  }
  main .main-contacto .form {
    width: 90vw;
    height: auto;
    order: 1;
  }
  main .main-contacto .form input {
    width: 75vw;
    height: 5vh;
  }
  main .main-contacto .form textarea {
    width: 75vw;
    height: 10vh;
  }
  main .main-contacto .form .form-btn .btns {
    width: 40vw;
  }
}

/*# sourceMappingURL=style.css.map */
